@using Piranha.Models.Manager.PageModels
@model List<EditModel.PagePlacement>
@{
    Layout = string.Empty;

}
<select id="Page_Seqno" name="Page.Seqno">
    @foreach (EditModel.PagePlacement s in Model)
    {
        <option value="@s.Seqno"@(s.IsSelected ? " selected=selected" : string.Empty)>@s.Title</option>
    }
</select>